<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Autofocus Container</title>
  <link rel="stylesheet" href="styles.css">
  <script type="module" src="../handleKeyDown.js"></script>
</head>
<body>
  <div class="container">
    <button tabindex="0" id="btn-outside">Outside Button</button>
    
    <div class="lrud-container" tabindex="0" data-autofocus="true" id="auto-container">
      <button tabindex="0" id="btn-1">Container Button 1</button>
      <button tabindex="0" id="btn-2">Container Button 2</button>
      <button tabindex="0" id="btn-3">Container Button 3</button>
    </div>
    
    <button tabindex="0" id="btn-below">Below Button</button>
  </div>
</body>
</html>
