<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Basic Grid - 2x2</title>
  <link rel="stylesheet" href="styles.css">
  <script type="module" src="../handleKeyDown.js"></script>
</head>
<body>
  <div class="container">
    <div class="grid">
      <button tabindex="0" id="btn-1">Button 1</button>
      <button tabindex="0" id="btn-2">Button 2</button>
      <button tabindex="0" id="btn-3">Button 3</button>
      <button tabindex="0" id="btn-4">Button 4</button>
    </div>
  </div>
</body>
</html>
