<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Destinations Only Container (No Autofocus)</title>
  <link rel="stylesheet" href="styles.css">
  <script type="module" src="../handleKeyDown.js"></script>
</head>
<body>
  <div class="container">
    <button tabindex="0" id="btn-top">Top Button</button>
    
    <div class="lrud-container" tabindex="-1" data-autofocus="false" data-destinations="btn-3" id="dest-only-container">
      <button tabindex="0" id="btn-1">Button 1</button>
      <button tabindex="0" id="btn-2">Button 2</button>
      <button tabindex="0" id="btn-3">Button 3 (Destination)</button>
      <button tabindex="0" id="btn-4">Button 4</button>
    </div>
    
    <button tabindex="0" id="btn-bottom">Bottom Button</button>
  </div>
</body>
</html>
