<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Screen Block Exit Right</title>
  <link rel="stylesheet" href="styles.css">
  <script type="module" src="../handleKeyDown.js"></script>
</head>
<body>
  <section id="lrud-screen-1" class="container" style="position: relative; display: inline-block; vertical-align: top; width: 900px; min-height: 220px; overflow: visible;">
    <button tabindex="0" id="screen-top">Top Button</button>

    <div class="lrud-container" tabindex="-1" data-block-exit="right" id="blocked-container">
      <button tabindex="0" id="blocked-btn">Blocked Button</button>
    </div>

    <button tabindex="0" id="right-btn" style="position: absolute; left: 520px; top: 80px;">Same Screen Right</button>
  </section>

  <section id="lrud-screen-2" class="container" style="display: inline-block; vertical-align: top; margin-left: 40px;">
    <button tabindex="0" id="other-screen-btn">Other Screen Button</button>
  </section>
</body>
</html>
