<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Screen Scope</title>
  <link rel="stylesheet" href="styles.css">
  <script type="module" src="../handleKeyDown.js"></script>
</head>
<body>
  <section id="lrud-screen-1" class="container" style="display: inline-block; vertical-align: top;">
    <button tabindex="0" id="screen1-btn">Screen 1 Button</button>
  </section>

  <section id="lrud-screen-2" class="container" style="display: inline-block; vertical-align: top; margin-left: 220px;">
    <button tabindex="0" id="screen2-btn">Screen 2 Button</button>
  </section>
</body>
</html>
