<div>
    <div class="lrud-container" tabindex="-1" data-autofocus="true" data-lrud-prioritise-children="false" data-block-exit="left right" style="width: 1080px; display: flex; flex-direction: row;" id="div-1">
        <div tabindex="0" id="item-1" class="item" href="">
            <h2>1</h2>
        </div>

        <div tabindex="0" id="item-2"  class="item" href="">
            <h2>2</h2>
        </div>

        <div tabindex="0" id="item-3"  class="item" href="">
            <h2>3</h2>
        </div>

        <div tabindex="0" id="item-4"  class="item" href="">
            <h2>4</h2>
        </div>
        <div tabindex="0" id="item-5"  class="item" href="">
            <h2>5</h2>
        </div>
    </div>

    <div class="lrud-container" tabindex="-1" data-lrud-prioritise-children="true" data-block-exit="left right" style="width: 480px;display: flex; flex-direction: row;" id="div-2">
        <div tabindex="0" id="item-6" class="item" href="">
            <h2>6</h2>
        </div>
    </div>

    <div class="lrud-container" tabindex="-1" style="width: 980px;display: flex; flex-direction: row;" id="div-3">
        <div tabindex="0" id="item-7" class="item" href="">
            <h2>7</h2>
        </div>

        <div tabindex="0" id="item-8"  class="item" href="">
            <h2>8</h2>
        </div>

        <div tabindex="0" id="item-9"  class="item" href="">
            <h2>9</h2>
        </div>

        <div tabindex="0" id="item-10"  class="item" href="">
            <h2>10</h2>
        </div>
    </div>
</div>