<html>

<head>
    <style id="react-native-stylesheet"></style>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Rubik" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' data: http://localhost:8081; connect-src 'self' http://localhost:8081;"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge" /> -->
    <title>Fuxion</title>
    <style>
        #app-root {
            display: flex;
            flex: 1 1 100%;
            height: 100vh;
        }
    </style>
    <link rel="stylesheet" href="tv-view-styles.css"
    <script defer="" src="/static/js/bundle.js"></script>
</head>

<body>
    <div id="app-root">
        <div class="css-view-g5y9jx r-flex-13awgt0 r-pointerEvents-12vffkv">
            <div class="css-view-g5y9jx r-flex-13awgt0 r-pointerEvents-12vffkv">
                <div class="css-view-g5y9jx" style="flex: 1 1 0%;">
                    <div class="css-view-g5y9jx r-marginTop-1fblrxt">
                        <div class="css-view-g5y9jx r-flexDirection-18u37iz r-padding-g8j2tj">
                            <div tabindex="0"
                                class="css-view-g5y9jx r-cursor-1loqt21 r-touchAction-1otgn73 r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr"
                                id="lrud-22222">
                                <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i"
                                    style="color: rgb(0, 122, 255);">Left Top</div>
                            </div>
                            <div tabindex="0"
                                class="css-view-g5y9jx r-cursor-1loqt21 r-touchAction-1otgn73 r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr">
                                <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i"
                                    style="color: rgb(0, 122, 255);">Right Top</div>
                            </div>
                            <div
                                class="css-view-g5y9jx r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr">
                                <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i" style="color: rgb(0, 0, 0);">
                                    Focus guide points to top left</div>
                            </div>
                            <div class="css-view-g5y9jx r-minHeight-1iqfa7g r-minWidth-60vfwk r-backgroundColor-1niwhzg r-borderColor-fx7oqy r-borderWidth-d045u9 r-flexDirection-18u37iz lrud-container"
                                tabindex="-1" data-autofocus="false" style="display: flex;"
                                data-focus="">
                                <div class="css-view-g5y9jx r-minHeight-1iqfa7g r-minWidth-60vfwk r-backgroundColor-1niwhzg r-borderColor-fx7oqy r-borderWidth-d045u9 r-flexDirection-18u37iz lrud-container"
                                    tabindex="-1" data-autofocus="true" data-destinations="" style="display: flex;"
                                    data-focus="">
                                    <div tabindex="0"
                                        class="css-view-g5y9jx r-cursor-1loqt21 r-touchAction-1otgn73 r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr">
                                        <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i"
                                            style="color: rgb(0, 122, 255);">Wrapped button 1</div>
                                    </div>
                                    <div tabindex="0"
                                        class="css-view-g5y9jx r-cursor-1loqt21 r-touchAction-1otgn73 r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr">
                                        <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i"
                                            style="color: rgb(0, 122, 255);">Wrapped button 2</div>
                                    </div>
                                    <div tabindex="0"
                                        class="css-view-g5y9jx r-cursor-1loqt21 r-touchAction-1otgn73 r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr"
                                        id="lrud-11111">
                                        <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i"
                                            style="color: rgb(0, 122, 255);">Wrapped button 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="css-view-g5y9jx r-flexDirection-18u37iz r-padding-g8j2tj">
                            <div tabindex="0"
                                class="css-view-g5y9jx r-cursor-1loqt21 r-touchAction-1otgn73 r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr">
                                <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i"
                                    style="color: rgb(0, 122, 255);">Left Bottom</div>
                            </div>
                            <div class="css-view-g5y9jx r-minHeight-1iqfa7g r-minWidth-60vfwk r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr lrud-container"
                                tabindex="-1" data-autofocus="false" data-destinations="lrud-22222"
                                style="background-color: rgba(118, 118, 128, 0.12); display: flex;">
                                <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i" style="color: rgb(0, 0, 0);">
                                    Focus guide</div>
                            </div>
                            <div
                                class="css-view-g5y9jx r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8 r-width-oid7mr">
                                <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i" style="color: rgb(0, 0, 0);">
                                </div>
                            </div>
                            <div class="css-view-g5y9jx r-height-1qnhxh2 r-marginBottom-1qiw2xq r-marginLeft-1r5hbdh r-marginRight-1f4k83k r-marginTop-1r3kqu8"
                                style="width: 485px;">
                                <div dir="auto" class="css-text-146c3p1 r-fontSize-ik5d6i" style="color: rgb(0, 0, 0);">
                                    Blue focus guide container above always points to button 3 if navigating from
                                    outside</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>