.r-pointerEvents-12vffkv {
    pointer-events: none !important;
}
.r-flex-13awgt0 {
    flex: 1 1 0%;
}
.css-view-g5y9jx {
    align-content: flex-start;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
.r-flex-13awgt0 {
    flex: 1 1 0%;
}
.r-flexDirection-18u37iz {
    flex-direction: row;
}
.r-padding-g8j2tj {
    padding: 80.8333px;
}
.r-width-oid7mr {
    width: 161.667px;
}
.r-marginTop-1r3kqu8 {
    margin-top: 16.1667px;
}
.r-marginRight-1f4k83k {
    margin-right: 16.1667px;
}
.r-marginLeft-1r5hbdh {
    margin-left: 16.1667px;
}
.r-marginBottom-1qiw2xq {
    margin-bottom: 16.1667px;
}
.r-height-1qnhxh2 {
    height: 97px;
}